home/.zlogin
home/.zlogout
home/.zpreztorc
home/.zprofile
home/.zshenv
home/.zshrc

home/.vimperator/info/
home/.vim/.netrwhist

# Specified virtialenv(=directory)
home/.virtualenvs/*/

# tmux plugin
home/.tmux/plugins/*

# iPython
home/.ipython/profile_default/history.sqlite
