home/.zlogin
home/.zlogout
home/.zpreztorc
home/.zprofile
home/.zshenv
home/.zshrc

home/.vimperator/info/
home/.vim/.netrwhist
home/.vim/bundle/*/
home/.vim/bundle/NeoBundle.lock

home/.m2/

# Specified virtialenv(=directory)
home/.virtualenvs/*/

# tmux plugin
home/.tmux/plugins/*

# iPython
home/.ipython/profile_default/history.sqlite
home/.ipython/cython/
home/.ipython/profile_default/db/rootmodules_cache
