[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	quotepath = false
	precomposeunicode = true
[merge]
        ff = false
[user]
	name = FGtatsuro
	email = fujiistorage@gmail.com
[secrets]
	providers = git secrets --aws-provider
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	allowed = DUMMY
	allowed = https://photos.google.com/share/.*
[init]
	templatedir = ~/.git-templates/git-secrets
[difftool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
